@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:400,700,800');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1640px;
    margin: 15px auto;
}

a {
    text-decoration: none;
}

p {
    color: #6a6a6a;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

header {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header-back.jpg") #bc2e3a;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/header-back.jpg") #bc2e3a;
    background-blend-mode: multiply;
    background-size: cover;
    padding: 35px 50px 0px 50px;
    position: relative;
    height: 900px;
}

header a {
    color: white;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 43px;
    font-weight: 700;
    float: left;
}

header ul {
    float: right;
    list-style: none;
}

header ul li {
    float: left;
    margin-left: 10px;
}

header ul li:nth-child(8) {
    margin-left: 40px;
}

header ul li:last-child {
    margin-left: 30px;
}

header ul li a {
    display: block;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

header ul li a:hover {
    text-shadow: white 0 0 2px;
}

header ul li a:active {
    text-shadow: black 1px 1px 3px;
}

header h1 {

    color: white;
    background: url("../images/header-back.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 180px;
    font-weight: 800;
    line-height: 145px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 220px;
    background-position: -108px 650px;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(0 0 5px black);
    filter: drop-shadow(0 0 5px black);
    filter: progid:DXImageTransform.Microsoft.Glow(color=black, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=black, strength=0);

}

header h2 {
    color: white;
    background: url("../images/header-back.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    font-weight: 800;
    line-height: 140px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 165px;
    margin-top: 488px;
    background-position: -188px 407px;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(0 0 5px black);
    filter: drop-shadow(0 0 5px black);
    filter: progid:DXImageTransform.Microsoft.Glow(color=black, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=black, strength=0);
}

header img {
    position: absolute;
    margin-top: 85px;
    margin-left: 510px;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="50" /><feOffset dx="21" dy="41" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.6)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.8" /><feFuncG type="linear" slope="0.8" /><feFuncB type="linear" slope="0.8" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: drop-shadow(20px 40px 50px rgba(0, 0, 0, 0.6)) brightness(80%);
    filter: drop-shadow(20px 40px 50px rgba(0, 0, 0, 0.6)) brightness(80%);
    filter: progid:DXImageTransform.Microsoft.Glow(color=rgba(0, 0, 0, 0.6), strength=0) progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.6), strength=0) progid:DXImageTransform.Microsoft.Light();
}

.readmore {
    position: absolute;
    display: block;
    width: 192px;
    height: 54px;
    border-radius: 54px;
    background-color: white;
    color: #242424;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 54px;
    text-align: center;
    margin-top: 670px;
    margin-left: 420px;
}

.readmore:hover {
    text-shadow: black 0 0 1px;
}

.readmore:active {
    background-color: lightgray;
}

.who {
    position: relative;
    height: 576px;
    padding: 124px 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.who:before {
    content: '';
    position: absolute;
    width: 1422px;
    height: 1422px;
    background-color: #171717;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1050px;
    right: -295px;
    z-index: -1;
}

.who img {
    float: right;
}

.who h2,
.what h2,
.howwework h2,
.team h2,
.client h2 {
    color: #494949;
    font-size: 62px;
    font-weight: 800;
    margin-bottom: 76px;
}

.who p {
    margin-bottom: 77px;
}

.who a,
.howwework a {
    display: block;
    width: 192px;
    height: 54px;
    border-radius: 54px;
    background-color: #bc2e3a;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 54px;
    text-align: center;
}

.who a:hover,
.howwework a:hover {
    text-shadow: white 0 0 2px;
}

.who a:active,
.howwework a:active {
    background-color: darkgray;
}

.what {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: '. name .'
        'creative wedobest best'
        'nice professional great';
    padding: 94px 206px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.what:before {
    content: '';
    position: absolute;
    width: 339px;
    height: 339px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -295px;
    margin-top: 210px;
}

.what:after {
    content: '';
    position: absolute;
    width: 339px;
    height: 339px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -170px;
    bottom: -170px;
}

.wedo {
    grid-area: name;
    text-align: center;
}

.what h3 {
    color: #6f6f6e;
    font-size: 30px;
    font-weight: 400;
    line-height: 75px;
}

.creative {
    grid-area: creative;
    padding-left: 90px;
    background: url('../images/flag.png') no-repeat;
}

.wedobest {
    grid-area: wedobest;
    padding-left: 90px;
    background: url('../images/computer.png') no-repeat;
}

.best {
    grid-area: best;
    padding-left: 90px;
    background: url('../images/graph.png') no-repeat;
}

.nice {
    grid-area: nice;
    padding-left: 90px;
    background: url('../images/operator.png') no-repeat;
}

.professional {
    grid-area: professional;
    padding-left: 90px;
    background: url('../images/waypoint.png') no-repeat;
}

.great {
    grid-area: great;
    padding-left: 90px;
    background: url('../images/mail.png') no-repeat;
}

.howwework {
    height: 389px;
    padding: 94px 206px;
    position: relative;
    overflow: hidden;
}

.howwework:before {
    content: '';
    position: absolute;
    width: 1183px;
    height: 1183px;
    background-color: #171717;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -15px;
    left: -1195px;
}

.howwework:after {
    content: '';
    position: absolute;
    width: 1183px;
    height: 1183px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -296px;
    right: -894px;
    z-index: -1;
}

.howwework h2 {
    grid-area: name;
}

.howwework_1 p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.howwework_0,
.howwework_1,
.howwework_2,
.howwework_3 {
    width: 350px;
    height: 229px;
    position: absolute;
}

.howwework_0 p {
    margin-bottom: 23px;
}

.howwework_1 {
    background: url('../images/wework1.png') no-repeat;
    background-size: contain;
    right: 645px;
}

.howwework_2 {
    background: url('../images/wework2.png') no-repeat;
    background-size: contain;
    right: 267px;
}

.howwework_3 {
    background: url('../images/wework3.png') no-repeat;
    background-size: contain;
    right: -112px;
}

.howwework_1 .wework_2 {
    margin-left: 65px;
    margin-top: 43px;
}

.howwework_1 p {
    margin-left: 67px;
    line-height: 18px;
    width: 200px;
    text-shadow: black 0 0 2px;
}

.howwework_2 .wework_2 {
    margin-top: 105px;
    margin-left: 40px;
}

.howwework_1 .wework_1,
.howwework_2 .wework_1 {
    margin-left: 265px;
}

.howwework_3 .wework_2 {
    margin-top: 175px;
    margin-left: 35px;
}

.wework_1 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 58px;
    font-weight: 700;
    text-shadow: black 0 0 2px;
}

.wework_2 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: black 0 0 2px;
}

.team {
    padding-top: 124px;
    padding-bottom: 124px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.team h2 {
    text-align: center;
}

.team:before {
    content: '';
    position: absolute;
    width: 1183px;
    height: 1183px;
    background-color: #171717;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -591px;
    left: -1195px;
}

.team:after {
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -291px;
    top: -225px;
}

.team .rectangle {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -75px;
    bottom: -75px;
}

/* Карусель с фотками команды */

#carousel {
    height: 500px;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 0.5em;
}

#carousel .slide img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="0" /><feOffset dx="11" dy="11" result="offsetblur" /><feFlood flood-color="rgba(255,255,255,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge><feGaussianBlur in="SourceAlpha" stdDeviation="26" /><feOffset dx="1" dy="17" result="offsetblur" /><feFlood flood-color="rgba(136,136,136,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(10px 10px 0 white) drop-shadow(-10px -10px 0 white) drop-shadow(-10px 10px 0 white) drop-shadow(10px -10px 0 white) drop-shadow(0 16px 26px #888);
    filter: drop-shadow(10px 10px 0 white) drop-shadow(-10px -10px 0 white) drop-shadow(-10px 10px 0 white) drop-shadow(10px -10px 0 white) drop-shadow(0 16px 26px #888);
    filter: progid:DXImageTransform.Microsoft.Glow(color=white, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=white, strength=0) progid:DXImageTransform.Microsoft.Glow(color=#888, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#888, strength=0);
}

#carousel .slide {
    position: absolute;
    padding-top: 40px;
}

#carousel .slide img {
    width: 80%;
    height: 80%;
}

#carousel .slide p {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%
}

#carousel .slide .name {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 273px;
    background: url('../images/rectangle_blck.png') no-repeat;
    position: absolute;
    padding: 5px;
    bottom: 130px;
    margin-left: 63px;
    z-index: 99;
}

#carousel .slide .spec {
    color: #fff;
    font-size: 19px;
    font-style: italic;
    text-align: center;
    width: 214px;
    background: url('../images/rectangle_red.png') no-repeat;
    background-size: contain;
    position: absolute;
    padding: 5px;
    bottom: 98px;
    margin-left: 109px;
    z-index: 99;
}

#carousel .navigate-left {
    cursor: pointer;
    position: absolute;
    bottom: 200px;
}

#carousel .navigate-right {
    cursor: pointer;
    position: absolute;
    bottom: 200px;
}

/* Поехали дальше */

.client {
    padding: 124px 200px 124px 330px;
    position: relative;
    overflow: hidden;
}

.client_photo {
    float: left;
    width: 336px;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="0" /><feOffset dx="11" dy="11" result="offsetblur" /><feFlood flood-color="rgba(255,255,255,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge><feGaussianBlur in="SourceAlpha" stdDeviation="26" /><feOffset dx="1" dy="17" result="offsetblur" /><feFlood flood-color="rgba(128,128,128,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    -webkit-filter: drop-shadow(10px 10px 0 white) drop-shadow(-10px -10px 0 white) drop-shadow(-10px 10px 0 white) drop-shadow(10px -10px 0 white) drop-shadow(0 16px 26px gray);
    filter: drop-shadow(10px 10px 0 white) drop-shadow(-10px -10px 0 white) drop-shadow(-10px 10px 0 white) drop-shadow(10px -10px 0 white) drop-shadow(0 16px 26px gray);
    filter: progid:DXImageTransform.Microsoft.Glow(color=white, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=white, strength=0) progid:DXImageTransform.Microsoft.Glow(color=gray, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=gray, strength=0);
}

.client blockquote {
    float: right;
    width: 751px;
    background: url('../images/quote.png') no-repeat;
    padding-left: 90px;
    padding-top: 20px;
    box-sizing: border-box;
}

.client_name {
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 700;
    margin-top: 42px;
}

.client ul {
    float: right;
    margin-right: 405px;
    margin-top: 45px;
}

.client ul li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.client:before {
    content: '';
    position: absolute;
    width: 956px;
    height: 956px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -596px;
    top: -26px;
    z-index: -1;
}

.client:after {
    content: '';
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #171717;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -180px;
    right: -180px;
}

footer {
    padding: 124px 200px;
    box-sizing: border-box;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/footer.jpg') no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/footer.jpg') no-repeat;
    background-size: cover;
    color: white;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    position: relative;
    overflow: hidden;
}

footer h2 {
    color: #9f9f9f;
    font-size: 62px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 76px;
}

footer h4 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    vertical-align: middle;
    color: white;
    font-size: 17px;
    font-weight: 400;
}

.writeus,
.callus,
.visitus {
    padding-left: 82px;
    width: 20%;
    text-align: left;
}

.writeus {
    background: url('../images/email.png') no-repeat;
    background-position-y: 20px;
}

.callus {
    background: url('../images/phone.png') no-repeat;
    background-position-y: 20px;
}

.visitus {
    background: url('../images/map.png') no-repeat;
    background-position-y: 20px;
}

footer ul {
    width: 576px;
    margin: 97px auto;
}

footer ul li {
    list-style: none;
    float: left;
    color: white;
    font-size: 25px;
    margin: 0 45px;
}

footer hr {
    width: 737px;
    margin: 160px auto 33px;
}

footer:before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -339px;
    top: -250px;
}

footer:after {
    content: '';
    position: absolute;
    width: 348px;
    height: 348px;
    background-color: #bc2e3a;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 0;
    bottom: -174px;
}